In [1]:
import csv
import pandas as pd

In [2]:
data = pd.read_csv("WeatherData.csv")
testData = pd.read_csv("TestData.csv")

In [3]:
data.head(5)

,date,temperatureMin,temperatureMax,humidity,dewPoint,windSpeed,temperatureMean
0,2018/01/01,58.78,83.07,0.67,57.63,3.36,70.5929
1,2018/01/02,60.46,83.13,0.69,59.33,4.55,70.5929
2,2018/01/03,64.04,80.68,0.70,60.35,4.48,70.5929
3,2018/01/04,60.63,80.30,0.71,58.65,5.91,70.5929
4,2018/01/05,56.63,79.61,0.65,54.36,4.81,70.5929

In [4]:
testData.head(5)

,date,temperatureMin_1,temperatureMin_2,temperatureMin_3,temperatureMax_1,temperatureMax_2,temperatureMax_3,humidity_1,humidity_2,humidity_3,dewPoint_1,dewPoint_2,dewPoint_3,windSpeed_1,windSpeed_2,windSpeed_3,temperatureMean_1,temperatureMean_2,temperatureMean_3
0,2021/01/25,63.50,63.39,63.28,81.23,81.11,81.00,0.59,0.59,0.59,55.33,55.42,55.51,4.96,4.95,4.94,75.0625,75.0625,75.0625
1,2020/06/02,71.36,71.49,71.62,88.99,89.12,89.25,0.69,0.69,0.69,67.55,67.51,67.48,8.40,8.31,8.22,70.5929,70.5929,70.5929
2,2022/08/02,67.12,67.12,67.12,84.80,84.79,84.79,0.78,0.78,0.78,66.84,66.83,66.83,10.08,10.14,10.19,75.0625,75.0625,75.0625
3,2019/09/06,66.37,66.58,67.88,81.08,80.69,79.88,0.80,0.80,0.80,66.87,66.43,66.36,17.66,16.25,17.38,70.5929,70.5929,70.5929
4,2021/06/17,69.56,69.67,69.79,87.19,87.30,87.42,0.74,0.74,0.74,67.69,67.69,67.70,9.65,9.57,9.50,75.0625,75.0625,75.0625

In [5]:
meanTemp = {}
date = list(data['date'])
testdate = list(data['date'])
temp = list(data['temperatureMean'])
for d,t in zip(date,temp):
    if d in testdate:
        meanTemp[d] = round(((t-32)/1.8),4)

In [6]:
with open("data_temp.txt", 'w') as f:
    for key, value in meanTemp.items():
        f.write('%s   :   %s\n' % (key, value))